.box {
  min-width: 100px;
  min-height: 100px;
  border: black solid 2px;
}

.greenBox {
  background-color: green;
}

.redBox {
  background-color: red;
}

.blueBox {
  background-color: blue;
}

.purpleBox {
  background-color: purple;
}

.pinkBox {
  background-color: pink;
}

.orangeBox {
  background-color: orange;
}

.container {
  min-height: 80vh;
}
